
.hidden {
    display: none;
}
.meter {
height: 15px;
width: 300px;
position: relative;
background: #555;
border-radius: 25px;
}

.meter span {
display: block;
height: 100%;
border-radius: 20px;
background-color: #555;
}

#well-done{
    box-shadow: 5px 10px 8px #888888;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

#survey-form{
    margin: 50px;
    background-color: white;
    padding: 10px;
border: 1px solid black;
border-radius: 5px;
box-shadow: 5px 10px 8px #888888;
}

textarea{
    height: 100px;
    width: 455px;
}

fieldset{
    margin: 10px 0px;
}
.hidden {
    display: none;
}



.unlocked {
    color: black;
    display: list-item;
}

.achieved {
    color: black;
}

.locked {
    color: grey;
    display: none;
}

img{
    width: 30px;
    height: 30px;
}

label{
    margin: 5px 0px;
}


#displayContainer{
    box-shadow: 5px 10px 8px #888888;
    width: 30vw;
    height: 50vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
}


#innerContainer{
    background-color: white;
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.resultsBadges{
    height: 100px;
}

.resultsAchievements{
    height: 100px;
}

.input {
    position: relative;
    display: inline;
}

.tooltip {
    display: none;
    padding: 10px;
}

.input:hover .tooltip {
    background: white;
    border-radius: 3px;
    color: black;
    display: inline;
    height: 50px;
    left: 0;
    position: absolute;
    top: 25px;
    text-align: center;
 border: 1px solid black;   
}

#your-score{
    font-size: 30px;
}